/* components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 999;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo img {
  max-width: 200px; /* Adjust the max-width to control the logo size */
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 1rem; /* Add gap between items */
  flex: 1; /* Take up available space to center items */
  justify-content: flex; /* Push items to the right */
}

.page-content {
  margin-top: 70px; /* Ensure enough margin to avoid content being covered */
  padding: 2rem; /* Add padding to create space between header and content */
}

.nav_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 0.8rem;
}

.nav_itemFavorites {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin-right: 1rem; /* Add margin to the right side of the buttons */
}

.nav_itemFavorites:hover {
  color: #ff6600; /* Text color on hover */
}

/* Style for the mobile navigation icon */
.mobile-nav-icon {
  display: none; /* Initially hidden on desktop */
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

/* Media query to show the mobile navigation icon on smaller screens */
@media (max-width: 768px) {
  .mobile-nav-icon {
    display: block; /* Show on smaller screens */
  }
  
  .header_nav {
    display: none; /* Initially hide the navigation items on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Adjust as needed to position the mobile menu */
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%; /* Take up full width */
  }

  .show-mobile-nav {
    display: flex; /* Show the navigation items when mobile menu is active */
  }
}
